<!--Switchery [ OPTIONAL ]-->
<link href="/assets/plugins/switchery/switchery.min.css" rel="stylesheet">


<!--Bootstrap Select [ OPTIONAL ]-->
<link href="/assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">


<!--Bootstrap Tags Input [ OPTIONAL ]-->
<link href="/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.css" rel="stylesheet">


<!--Chosen [ OPTIONAL ]-->
<link href="/assets/plugins/chosen/chosen.min.css" rel="stylesheet">


<!--noUiSlider [ OPTIONAL ]-->
<link href="/assets/plugins/noUiSlider/nouislider.min.css" rel="stylesheet">


<!--Select2 [ OPTIONAL ]-->
<link href="/assets/plugins/select2/css/select2.min.css" rel="stylesheet">


<!--Bootstrap Timepicker [ OPTIONAL ]-->
<link href="/assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet">


<!--Bootstrap Datepicker [ OPTIONAL ]-->
<link href="/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet">


<!--Switchery [ OPTIONAL ]-->
<script src="/assets/plugins/switchery/switchery.min.js"></script>


<!--Bootstrap Select [ OPTIONAL ]-->
<script src="/assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>


<!--Bootstrap Tags Input [ OPTIONAL ]-->
<script src="/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>


<!--Chosen [ OPTIONAL ]-->
<script src="/assets/plugins/chosen/chosen.jquery.min.js"></script>


<!--noUiSlider [ OPTIONAL ]-->
<!--<script src="/assets/plugins/noUiSlider/nouislider.min.js"></script>
-->

<!--Select2 [ OPTIONAL ]-->
<script src="/assets/plugins/select2/js/select2.min.js"></script>


<!--Bootstrap Timepicker [ OPTIONAL ]-->
<script src="/assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>


<!--Bootstrap Datepicker [ OPTIONAL ]-->
<script src="/assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>


<!--Form Component [ SAMPLE ]-->
<!--<script src="/assets/js/demo/form-component.js"></script>-->