<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta name="app" content="billing" />
    <meta name="transaction" content="{$transaction.no}" />    
    <meta name="get" content="/goods/get" />
    <meta name="trade" content="/trade/settlement" />
    <meta name="get_vip" content="/vip_members/get" />

    <meta name="card_prefix" content="{$card_prefix}" />

    ${includes/head.html}

    <link href="/assets/plugins/transactional-email-templates/templates/styles.css" media="all" rel="stylesheet"
        type="text/css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

    <table class="body-wrap">
        <tr>
            <td></td>
            <td class="container" width="600">
                <div class="content">
                    <table class="main" width="100%" cellpadding="0" cellspacing="0">
                        <tr>
                            <td class="alert alert-good">
                                <strong>{$title}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td class="content-wrap aligncenter">
                                <table width="100%" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td class="content-block aligncenter">
                                            <table class="invoice">
                                                <tr>
                                                    <td><strong id="vip_name">{$vip.name}</strong><br>订单编号
                                                        #{$transaction.no}<br>{$transaction.time}</td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <table id="invoice-table" class="invoice-items" cellpadding="0"
                                                            cellspacing="0">

                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="content-block aligncenter">
                                            <button id="settlement" class="btn btn-lg btn-info"
                                                data-loading-text="结算中..." type="button">
                                                账单结算
                                            </button>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <div class="footer">
                        <table width="100%">
                            <tr>
                                <td class="aligncenter content-block">&#0169; {#YEAR} {$appTitle}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
    </table>

</body>

</html>