<!DOCTYPE html>
<html lang="en">

<head>

	<meta name="app" content="lockscreen" />
	<meta name="unlock" content="/api/unlock" />

	${includes/head.html}

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
	<div id="container" class="cls-container">

		<!-- BACKGROUND IMAGE -->
		<!--===================================================-->
		<div id="bg-overlay"></div>

		<!-- LOCK SCREEN -->
		<!--===================================================-->
		<div class="cls-content">
			<div class="cls-content-sm panel">
				<div class="panel-body">
					<div class="mar-ver pad-btm">
						<h3 class="h4 mar-no">{$user.name}</h3>
						<span class="text-muted">{$user.role}</span>
					</div>
					<div class="pad-btm mar-btm">
						<img alt="Profile Picture" class="img-lg img-circle img-border-light"
							src="/assets/img/profile-photos/1.png">
					</div>
					<p>请输入密码来解锁</p>
					<div class="form">
						<div class="form-group">
							<input id="passwd" type="password" class="form-control" placeholder="输入密码" autocomplete="off">
						</div>
						<div class="form-group text-right">
							<button id="unlock" class="btn btn-block btn-success" type="submit">解锁</button>
						</div>
					</div>
					<div class="pad-ver">
						<a href="/login" class="btn-link mar-rgt">登录另一个账号</a>
					</div>
				</div>
			</div>
		</div>
		<!--===================================================-->



	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->


</body>

</html>