<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="app" content="login" />

    <meta name="login" content="/api/login" />

    ${includes/head.html}


</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
    <div id="container" class="cls-container">

        <!-- BACKGROUND IMAGE -->
        <!--===================================================-->
        <div id="bg-overlay"></div>


        <!-- LOGIN FORM -->
        <!--===================================================-->
        <div class="cls-content">
            <div class="cls-content-sm panel">
                <div class="panel-body">
                    <div class="mar-ver pad-btm">
                        <h3 class="h4 mar-no">登录</h3>
                        <p class="text-muted">登录您的后台账号</p>
                    </div>
                    <div class="form">
                        <div class="form-group">
                            <input type="text" id="user" class="form-control" placeholder="用户名" autofocus>
                        </div>
                        <div class="form-group">
                            <input type="password" id="passwd" class="form-control" placeholder="密码">
                        </div>
                        <div class="checkbox pad-btm text-left">
                            <input id="remember_user" class="magic-checkbox" type="checkbox">
                            <label for="demo-form-checkbox">记住我的账号</label>
                        </div>
                        <button class="btn btn-primary btn-lg btn-block" id="login" type="submit">登录</button>
                    </div>
                </div>

                <div class="pad-all">
                    <a href="pages-password-reminder.html" class="btn-link mar-rgt">忘记密码？</a>
                    <a href="pages-register.html" class="btn-link mar-lft">创建一个新账号</a>
                </div>
            </div>
        </div>
        <!--===================================================-->


    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->


</body>

</html>