<!DOCTYPE html>
<html lang="en">

<head>

	<meta name="app" content="password_reminder" />

    ${includes/head.html}

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
	<div id="container" class="cls-container">
		
		<!-- BACKGROUND IMAGE -->
		<!--===================================================-->
		<div id="bg-overlay"></div>
		
		
		<!-- PASSWORD RESETTING FORM -->
		<!--===================================================-->
		<div class="cls-content">
		    <div class="cls-content-sm panel">
		        <div class="panel-body">
		            <div class="pad-ver">
		                <i class="pli-mail icon-3x"></i>
		            </div>
		            <p class="text-muted pad-btm">如果您忘记了密码，我们可以为您发送一封用于密码重置的电子邮件到您的电子邮件账户之中。您只需要根据提示进行密码重置即可：</p>
		            <div class="form">
		                <div class="form-group">
		                    <input id="email" type="email" class="form-control" placeholder="Email">
		                </div>
		                <div class="form-group text-right">
		                    <button id="send" class="btn btn-success btn-block" type="submit">发送密码重置邮件</button>
		                </div>
		            </div>
		            <div class="pad-top">
		                <a href="/login" class="btn-link mar-rgt">返回登录</a>
		            </div>
		        </div>
		    </div>
		</div>
		<!--===================================================-->
			
		
	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->


		</body>
</html>
