<!DOCTYPE html>
<html lang="en">

<head>

	<meta name="app" content="POS" />

	${includes/head.html}
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
	<div id="container" class="cls-container">

		<!-- CONTENT -->
		<!--===================================================-->
		<div class="cls-content">
			<h1 id="clock" class="error-code text-info">Hello!</h1>
			<p class="text-main text-semibold text-lg text-uppercase" id="date"></p>
			<div class="pad-btm text-muted">
				请拿起扫码枪，扫描顾客的商品编码开始进行收银操作。
			</div>

			<div class="pad-btm" style="text-align: center;">
				<div class="panel" style="max-width: 400px; margin-left: 50%; transform: translate(-50%);">
					<div class="panel-body text-center">
						<img alt="Profile Picture" class="img-md img-circle mar-btm"
							src="/assets/img/profile-photos/1.png">
						<p class="text-lg text-semibold mar-no text-main">{$user.name}</p>
						<p class="text-muted">{$user.role}</p>

						<ul class="list-unstyled text-center bord-top pad-top mar-no row">
							<li class="col-xs-4">
								<span class="text-lg text-semibold text-main">n/a</span>
								<p class="text-muted mar-no">今日售卖商品（件）</p>
							</li>
							<li class="col-xs-4">
								￥<span class="text-lg text-semibold text-main">n/a</span>
								<p class="text-muted mar-no">售卖总金额</p>
							</li>
							<li class="col-xs-4">
								<span id="orders" class="text-lg text-semibold text-main">n/a</span>
								<p class="text-muted mar-no">交易订单数量</p>
							</li>
						</ul>
					</div>
				</div>
			</div>

			<hr class="new-section-sm bord-no">
			<div class="pad-top"><a class="btn-link" href="/">退出收银机模式</a>
			</div>



		</div>
	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->


</body>



</html>