<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="app" content="VIP_members" />

    <meta name="load" content="/vip_members/load" />
    <meta name="save" content="/vip_members/add" />

    ${includes/head.html}
    ${includes/datatable.html}
    ${includes/components.html}
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg">

        ${includes/top-nav.html}

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">

                <!--Page Title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div id="page-title">
                    <h1 class="page-header text-overflow">{$title}</h1>

                    <!--Searchbox-->
                    <div class="searchbox">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..">
                            <span class="input-group-btn">
                                <button class="text-muted" type="button"><i class="demo-pli-magnifi-glass"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End page title-->

                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">

                    <div class="row">
                        <div class="col-xs-12">

                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">会员信息表</h3>
                                </div>

                                <!-- Foo Table - Filtering -->
                                <!--===================================================-->
                                <div class="panel-body">
                                    <table id="demo-foo-filtering"
                                        class="table table-bordered table-hover toggle-circle" data-page-size="7">
                                        <thead>
                                            <tr>
                                                <th data-toggle="true">会员卡号</th>
                                                <th>会员姓名</th>
                                                <th>充值余额</th>
                                                <th>性别</th>
                                                <th>电话号码</th>
                                                <th>联系地址</th>
                                                <th>添加时间</th>
                                                <th>信息</th>                                           
                                                <th>操作员</th>
                                            </tr>
                                        </thead>
                                        <div class="pad-btm form-inline">
                                            <div class="row">
                                                <div class="col-sm-6 text-xs-center">
                                                    <div class="form-group">


                                                        <label class="control-label">显示商品</label>
                                                        <select id="demo-foo-filter-status" class="form-control">
                                                            <option value="">显示全部会员</option>
                                                            <option value="男">男</option>
                                                            <option value="女">女</option>                                        
                                                        </select>
                                                        &nbsp; &nbsp;
                                                        <button id="addrow" data-target="#add-modal" data-toggle="modal"
                                                            class="btn btn-primary btn-lg"><i class="demo-pli-plus"></i>
                                                            新增会员信息 </button>

                                                    </div>


                                                </div>

                                                <div class="col-sm-6 text-xs-center text-right">
                                                    <div class="form-group">
                                                        <input id="demo-foo-search" type="text" placeholder="Search"
                                                            class="form-control" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <tbody id="list">
                                    
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="8">
                                                    <div class="text-right">
                                                        <ul class="pagination"></ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!--===================================================-->
                                <!-- End Foo Table - Filtering -->

                            </div>

                        </div>

                    </div>


                </div>
                <!--===================================================-->
                <!--End page content-->


            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->

            ${includes/aside.html}

            ${includes/nav.html}

        </div>


        ${includes/footer.html}

    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->


    <!--Default Bootstrap Modal-->
    <!--===================================================-->
    <div class="modal fade" id="add-modal" role="dialog" tabindex="-1" aria-labelledby="add-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!--Modal header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i
                            class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title">添加会员信息</h4>
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    <p class="text-semibold text-main">操作说明</p>
                    <p>填写所需要添加的会员信息，再点击【新增会员信息】按钮即可。会员信息仅需要填写一次即可。</p>
                    <br>
                    <p class="text-semibold text-main">数据填写</p>
                    <p>

                    <form class="panel-body form-horizontal form-padding">

                        <!--Email Input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">会员姓名</label>
                            <div class="col-md-9">
                                <input type="text" id="name" class="form-control" placeholder="会员姓名">
                                <small class="help-block">填写会员姓名</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="phone">联系电话（可选）</label>
                            <div class="col-md-9">
                                <input type="text" id="phone" class="form-control" placeholder="联系电话">
                                <small class="help-block">填写会员的联系电话</small>
                            </div>                       
                        </div>

                        <!--Password-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="address">联系地址（可选）</label>
                            <div class="col-md-9">
                                <input type="text" id="address" class="form-control" placeholder="联系地址">
                                <small class="help-block">输入当前新增会员的联系地址</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="gender">性别：</label>

                            <!-- Bootstrap Select : primary -->
                            <!--===================================================-->
                            <select id="gender" class="selectpicker col-xs-6 col-sm-4 col-md-6 col-lg-4" data-style="btn-primary">
                                <option value="-1">不记录</option>
                                <option value="1">男</option>
                                <option value="0">女</option>
                            </select>
                        </div>

                        <!--Textarea-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="note">描述（可选）</label>
                            <div class="col-md-9">
                                <textarea id="note" rows="9" class="form-control"
                                    placeholder="输入一些简要的信息帮助后续查看"></textarea>
                            </div>
                        </div>

                    </form>

                    </p>



                    <!-- Danger Alert -->
                    <!--===================================================-->
                    <div id="alert" class="alert alert-danger" style="display: none;">
                        <strong>请注意！</strong> <span id="message"></span>
                    </div>


                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
                    <button id="save" class="btn btn-primary">新增会员信息</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>