<!DOCTYPE html>
<html lang="en">

<head>

    <meta name="app" content="waterflows" />

    <meta name="load" content="/trade/load" />

    ${includes/head.html}
    ${2includes/chart.html}
    ${includes/datatable.html}
    ${includes/components.html}
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
    <div id="container" class="effect aside-float aside-bright mainnav-lg">

        ${includes/top-nav.html}

        <div class="boxed">

            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">

                <!--Page Title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div id="page-title">
                    <h1 class="page-header text-overflow">{$title}</h1>

                    <!--Searchbox-->
                    <div class="searchbox">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search..">
                            <span class="input-group-btn">
                                <button class="text-muted" type="button"><i class="demo-pli-magnifi-glass"></i></button>
                            </span>
                        </div>
                    </div>
                </div>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End page title-->

                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">

                    <div class="row">
                        <div class="col-xs-12">

                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">商品销售信息表</h3>
                                </div>

                                <!-- Foo Table - Filtering -->
                                <!--===================================================-->
                                <div class="panel-body">
                                    <table id="demo-foo-filtering"
                                        class="table table-bordered table-hover toggle-circle" data-page-size="7">
                                        <thead>
                                            <tr>
                                                <th data-toggle="true">交易编号</th>
                                                <th>创建日期</th>
                                                <th>销售金额</th>                                                
                                                <th>商品件数</th>
                                                <th>会员</th>                                                                                      
                                                <th>操作员</th>
                                                <th>备注</th>
                                            </tr>
                                        </thead>
                                        <div class="pad-btm form-inline">
                                            <div class="row">
                                                <div class="col-sm-6 text-xs-center">
                                                    <div class="form-group">


                                                        <label class="control-label">显示商品</label>
                                                        <select id="demo-foo-filter-status" class="form-control">
                                                            <option value="">显示全部商品</option>
                                                            <option value="已售罄">已售罄</option>
                                                            <option value="disabled">有库存</option>                                        
                                                        </select>                                                       

                                                    </div>


                                                </div>

                                                <div class="col-sm-6 text-xs-center text-right">
                                                    <div class="form-group">
                                                        <input id="demo-foo-search" type="text" placeholder="Search"
                                                            class="form-control" autocomplete="off">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <tbody id="list">
                                    
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="8">
                                                    <div class="text-right">
                                                        <ul class="pagination"></ul>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <!--===================================================-->
                                <!-- End Foo Table - Filtering -->

                            </div>

                        </div>

                    </div>


                </div>
                <!--===================================================-->
                <!--End page content-->


            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->

            ${includes/aside.html}

            ${includes/nav.html}

        </div>


        ${includes/footer.html}

    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->


    <!--Default Bootstrap Modal-->
    <!--===================================================-->
    <div class="modal fade" id="add-modal" role="dialog" tabindex="-1" aria-labelledby="add-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!--Modal header-->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><i
                            class="pci-cross pci-circle"></i></button>
                    <h4 class="modal-title">添加商品售卖信息</h4>
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    <p class="text-semibold text-main">操作说明</p>
                    <p>请拿起您的扫码枪，扫描一件商品的条形码获取商品条形码；完成扫码后，填写所新增的商品关联信息，再点击【新增商品信息】按钮即可。商品信息仅需要填写一次即可。</p>
                    <br>
                    <p class="text-semibold text-main">数据填写</p>
                    <p>

                    <form class="panel-body form-horizontal form-padding">

                        <!--Text Input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="item_id">商品编号</label>
                            <div class="col-md-9">
                                <input type="text" id="item_id" class="form-control" placeholder="商品编号">
                                <small class="help-block">使用扫码枪扫码或者在这里手动输入商品编号</small>
                            </div>
                        </div>

                        <!--Email Input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">商品名称</label>
                            <div class="col-md-9">
                                <input type="text" id="name" class="form-control" placeholder="商品名称">
                                <small class="help-block">填写商品名称</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="vendor">商品供应商</label>
                            &nbsp;&nbsp;
                            <select class="selectpicker" data-live-search="true" data-placeholder="选择一个当前本商品的上游供应商" id="vendor">
                                <option value="-1">自产商品（无供应商）</option>
                            </select>                          
                        </div>

                        <!--Password-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="price">零售单价</label>
                            <div class="col-md-9">
                                <input type="text" id="price" class="form-control" placeholder="零售单价">
                                <small class="help-block">输入当前本商品的零售单价</small>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="gender">适用性别：</label>

                            <!-- Bootstrap Select : primary -->
                            <!--===================================================-->
                            <select id="gender" class="selectpicker col-xs-6 col-sm-4 col-md-6 col-lg-4" data-style="btn-primary">
                                <option value="-1">无限定</option>
                                <option value="1">男装</option>
                                <option value="0">女装</option>
                            </select>
                        </div>

                        <!--Textarea-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="note">描述（可选）</label>
                            <div class="col-md-9">
                                <textarea id="note" rows="9" class="form-control"
                                    placeholder="输入一些简要的信息帮助后续查看"></textarea>
                            </div>
                        </div>

                    </form>

                    </p>



                    <!-- Danger Alert -->
                    <!--===================================================-->
                    <div id="alert" class="alert alert-danger" style="display: none;">
                        <strong>请注意！</strong> <span id="message"></span>
                    </div>


                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
                    <button id="save" class="btn btn-primary">新增商品信息</button>
                </div>
            </div>
        </div>
    </div>

</body>

</html>