<!DOCTYPE html>
<html lang="en">

<head>
    ${../includes/head.html}

</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
	<div id="container" class="cls-container">
		
        ${../includes/header1.html}
		
		<!-- CONTENT -->
		<!--===================================================-->
		<div class="cls-content">
		    <h1 class="error-code text-info">403</h1>
		    <p class="text-main text-semibold text-lg text-uppercase">您没有访问权限</p>
		    <div class="pad-btm text-muted">
                对不起，根据您目前的身份凭证您无权限访问当前页面！更换一个具有访问权限的账号重新登录系统或许可以解决问题。
		    </div>

		    <hr class="new-section-sm bord-no">
		    <div class="pad-top"><a class="btn-link" href="/login">登录系统</a></div>
		</div>
		
		
	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->


		</body>
</html>

